footer{
    background-color: #1A1A1A;
}

.footerItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footerItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

